<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="@makiwin/cordova-plugin-saf-mediastore" version="1.0.14"
	xmlns="http://www.w3.org/ns/plugins">

	<name>cordova-plugin-saf-mediastore</name>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<asset src="www/safMediastore.js" target="js/safMediastore.js"/>

	<js-module name="safMediastore" src="www/safMediastore.js">
		<clobbers target="cordova.plugins.safMediastore"/>
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="SafMediastore">
				<param name="android-package" value="com.makiwin.saf_mediastore.SafMediastore"/>
			</feature>
		</config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />                
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />       		
		</config-file>

		<source-file src="src/android/com/makiwin/saf_mediastore/SafMediastore.java" target-dir="src/com/makiwin/saf_mediastore/"/>
	</platform>
</plugin>
